<div class="sidenav">
  <div class="row">
      <div class="col-md-6" style="padding-left: 40px;">
          <h2>$50</h2>
          <p>**** 1 Review</p>
      </div>
      <div class="col-md-6">
          <button class="btn"
              style="margin-left: 60px; margin-top: 15px; border-radius: 20px; width: 80px;">Save</button><br>
          <button class="btn"
              style="margin-left: 60px; margin-top: 5px; border-radius: 20px; width: 80px;">Share</button>
      </div>
  </div><br><br>
  <form>
      <div class="form-row" >
          <div class="col-md-6">
              <input type="checkin" class="form-control" placeholder="Check In"
                  style="margin-left: 30px; height: 60px;">
          </div>
          <div class="col-md-6">
              <input type="checkout" class="form-control" placeholder="Chech Out" style="height: 60px;">
          </div>
      </div>
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Guests"
              style="width: 340px; margin-left: 45px; height: 60px;">
      </div>
  </form><br>
  <button class="btn btn-primary" style="width: 220px; height: 50px; border-radius: 30px; margin-left: 90px;" (click)="moreInfo()">Request
      to Book</button>
</div>

<div>
  <img src="../../../../../assets/Images/image-book.jpg" alt="halls" style="width: 1060px; height: 550px;">
  <!-- <button type="btn" class="btn btn-dark">View all 10 photos</button> -->
</div>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <header class="animated fadeInDown" id="navbar">
      <nav class="navbar navbar-white navbar-fixed">
          <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
              <div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                      <ul class="nav navbar-nav">
                          <li><a href="#Overview">Overview</a></li>
                          <li><a href="#Amenities">Amenities</a></li>
                          <li><a href="#Policies">Policies</a></li>
                          <li><a href="#Reviews">Reviews</a></li>
                          <li><a href="#Map">Map</a></li>
                          <li><a href="#Owner">Owner</a></li>
                          <li><a href="#Rates">Rates & Availability</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </nav>
  </header>
  <section class="web_homePage" (scroll)="onWindowScroll($event);">  
      <div id="Overview" class="container-fluid" style="margin-left: 30px;">
          <div class="row">
              <div class="col-md-6">
                  <h3><b>Comfort Hall for Wedding</b></h3><br>
                  <p><i class="fa fa-bed" style="padding-right: 10px;"></i>Rooms: 6 A/c</p>
                  <p><i class="fa fa-cutlery" style="padding-right: 15px;"></i>Food Type: Veg & Non-veg</p>
                  <p><img src="../../assets/images/images (1).jpg" alt="dining"
                          style="height: 20px;width: 20px; margin-right: 6px;">Dining: 100</p>
                  <p><img src="../../assets/images/peoples.jpg" alt="peoples"
                          style="height: 20px;width: 20px; margin-right: 6px;">Floating: 400</p>
                  <p><img src="../../assets/images/seating.png" alt="seating"
                          style="height: 20px;width: 20px; margin-right: 6px;">Seating: 300</p>
              </div>
              <div class="col-md-6">
                  <img src="../../assets/images/staticmap.png" alt="map" style="margin-top: 60px;">
              </div>
          </div>
          <hr>
          <tr>
              <td><button class="btn btn-light">No smoking</button></td>
              <td style=" padding-left: 20px;"><button class="btn btn-light">Music Allowed</button></td>
              <td style=" padding-left: 20px;"><button class="btn btn-light">Air Conditioning</button></td>
              <td style=" padding-left: 20px;"><button class="btn btn-light">Fire crackers allowed</button></td>
          </tr>
          <hr>
          <h3><b>Summary</b></h3>
          <p>
              The Nimmala Convention Hall located in Hitech City,
              Hyderabad has Cocktail Venues, Banquet Halls, Wedding Lawns,
              5 Star Wedding Hotels, Birthday Party Halls, Party Halls,
              Party Plots and Marriage Halls. Ashok Gardens Lawn can accommodate upto 400 guests in seating and 600 guests
              in
              floating.
              Vegetarian and Non Vegetarian food is served at this venue. Features of
              this wedding venues are : Food provided by the venue , Non-Veg allowed
              at the venue , Alcohol allowed at the venue , Music allowed late , Halls
              are air Conditioned , Ample parking , Baarat allowed , Fire crackers
              allowed , Hawan allowed , Overnight wedding allowed , Decor provided
              by the venue , Packages starts at Rs 2,450 per plate for vegetarian menu
              and at Rs 2,450 for non veg menu.
          </p>
          <div id="Amenities" class="container-fluid">
              <h3><b>Amenities</b></h3>
              <hr>
              <h3><b>Featured</b></h3>
              <div class="row">
                  <div class="col-md-4">
                      <p><i class="fa fa-automobile" style="padding-right: 20px;"></i>Parking</p>
                      <p><i class="fa fa-wifi" style="padding-right: 20px;"></i>Internet</p>
                      <p><img src="../../assets/images/images (5).png" alt="no smoking"
                              style="height: 20px;width: 20px; margin-right: 15px;">No Smoking</p>
                  </div>
                  <div class="col-md-4">
                      <p><img src="../../assets/images/download (5).png" alt="air conditioning"
                              style="height: 20px;width: 20px; margin-right: 15px;">Air Conditioning</p>
                      <p><img src="../../assets/images/images (2).png" alt=" Professional sound system"
                              style="height: 20px;width: 20px; margin-right: 15px;">Sound system</p>
                      <p><img src="../../assets/images/images (4).png" alt=" Professional lighting system"
                              style="height: 20px;width: 20px; margin-right: 15px;">Lighting system</p>
                  </div>
                  <div class="col-md-4">
                      <p><img src="../../assets/images/download (6).png" alt="Dance floor"
                              style="height: 20px;width: 20px; margin-right: 15px;">Dance floor</p>
                  </div>
              </div>
          </div>
          <hr>
          <h3><b>Event Types</b></h3>
          <div class="row">
              <div class="col-md-4">
                  <p>Party</p>
                  <p>Wedding</p>
              </div>
              <div class="col-md-4">
                  <p>Meeting</p>
                  <p>Conference</p>
              </div>
              <div class="col-md-4">
                  <p>Performance / show</p>
                  <p>Christmas Party</p>
              </div>
          </div>
          <hr>
          <h3><b>Venue Type</b></h3>
          <div class="row">
              <div class="col-md-4">
                  <p>Multi-purpose event space</p>
                  <p>Nightclub / Bar</p>
              </div>
              <div class="col-md-4">
                  <p>Party room</p>
                  <p>Stage</p>
              </div>
              <div class="col-md-4">
                  <p>Banquet hall</p>
                  <p></p>
              </div>
          </div>
          <div id="Policies" class="container-fluid">
              <h3><b>Policies</b></h3>
              <h3><b>Cancellation Policy</b></h3>
              <hr>
              <p>100% refund if you cancel at least 14 days before check-in.</p>
              <p>50% refund (minus the service fee) if you cancel at least 7 days before check-in.</p>
              <p>No refund if you cancel less than 7 days before check-in.</p>
              <p>Learn more about our</p><a href="#">cancellation policies.</a>
          </div>
          <h3><b>Damage and Incidentals</b></h3>
          <hr>
          <p>You will be responsible for any damage to the rental halls caused by you or your party during your stay.</p>
          <h3><b>Functionhall Rules</b></h3>
          <div class="row">
              <div class="col-md-4">
                  <p><b><img src="../../assets/images/check-in.png" alt="check-in"
                              style="height: 20px;width: 20px; margin-right: 6px;"></b>Check in after: 4:00 AM</p>
              </div>
              <div class="col-md-4">
                  <p><img src="../../assets/images/sing-out1.jpg" alt="check-out"
                          style="height: 20px;width: 20px; margin-right: 6px;">Check out before: 4:00 PM</p>
              </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-md-5">
                  <li>Children allowed</li>
                  <li>No pets</li>
              </div>
              <div class="col-md-5">
                  <li>No smoking</li>
                  <li>Max guests: 300</li>
              </div>
          </div>
          <div id="Reviews" class="container-fluid">
              <h3><b>Reviews</b></h3>
              <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and
                  look at
                  the navigation bar while scrolling!</p>
          </div>
          <div id="Map" class="container-fluid">
              <h3><b>Map</b></h3>
              <h5><b>Hyderabad, Telangana, India</b></h5>
              <p>Detailed location provided after booking</p>
              <hr>
              <h3><b>Functionhalls nearby</b></h3>
              <div class="row">
                  <div class="col-md-4">
                      <p>1.Ashok Gardens</p>
                      <p>2.Akshara Halls</p>
                  </div>
                  <div class="col-md-2">
                      <p>5.5 mi</p>
                      <p>5.6 mi</p>
                  </div>
                  <div class="col-md-4"></div>
              </div>
          </div>
          <div id="Owner" class="container-fluid">
              <h3><b>Owner</b></h3>
              <p><img src="../../assets/images/images (4).jpg"
                      style="height: 40px; width: 40px; border-radius: 20px; margin-right: 15px;"><b>Owner</b></p>
              <p><b>Languages:</b>English</p>
              <hr>
              <a href="#"><b>View more about Owner</b></a>
          </div>
          <div id="Rates" class="container-fluid">
              <h3><b>Rates & Availability</b></h3>
              <hr>
          </div>
      </div>
       </section>

</body>