<!-- <nav class="navbar navbar-white bg-white">
  <a class="navbar-brand" href="#">
    <img src="../../../../../assets/Images/ProjectName1.png" alt="Vedikas" style="width: 140px;">
  </a>
</nav>

<section class="main">
    <form  [formGroup]="LoginDetails" #postForm="ngForm" class="login-form">
      <h2 style="color: rgba(17, 18, 75, 0.719);"><strong> Login</strong></h2>
      <div class="form-group">
        <input formControlName=" mobileNumber"  placeholder="Mobile Number*" type="number" class="form-control"  name="Number"
          maxlength="10" pattern="[0-9]{10}" required>
      </div>
      <div class="form-group" style="margin-left: 90px;">
        <button type="button" class="btn btn-link">Resend OTP</button>
        <button type="submit" class="btn btn-primary">Send OTP</button>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" formControlName=" OTP" placeholder="Otp*" required>
      </div>
      <BR>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!LoginDetails.valid" (click)="login()">Log
          in</button>
      </div>
      <p class="text-center"><a [routerLink]="['/register']">Create an Account</a></p>
    </form>
</section> -->



<nav class="navbar navbar-white bg-white">
    <a class="navbar-brand" href="#">
      <img src="../../../../../assets/Images/ProjectName1.png" alt="Vedikas" style="width: 140px;">
    </a>
  </nav>
  <div class="login-form">
    <form [formGroup]="LoginForm" >
      <h2><strong>Login</strong></h2>
      <br>
      <div class="form-group ">
        <!-- <label>Mobile Number</label> -->
        <input type="tel" id="mobileNumber" class="form-control" formControlName="mobileNumber"
          placeholder="Mobile Number*" style="height: 40px;" maxlength="17" minlength="17" size="17"
          pattern="[0-9 -()+]+$" required
          [ngClass]="{'is-invalid':LoginForm.get('mobileNumber').touched && LoginForm.get('mobileNumber').invalid}" />
        <div *ngIf="LoginForm.get('mobileNumber').touched && LoginForm.get('mobileNumber').invalid"
          class="invalid-feedback">
          <div *ngIf="LoginForm.get('mobileNumber').errors.required" style="color: red;">
            Mobile Number is required
          </div>
          <div *ngIf="LoginForm.get('mobileNumber').errors.mobileNumber">
            Mobile Number must be a valid Account Number
          </div>
        </div>
      </div>
      <div class="form-group" style="margin-left: 90px;">
        <button type="button" class="btn btn-link">Resend OTP</button>
        <button type="submit" class="btn btn-primary" (click)="sendOtp(LoginForm.value)">Send OTP</button>
      </div>
      <div class="form-group ">
        <!-- <label>OTP<span>*</span></label> -->
        <input type="OTP" id="OTP" class="form-control" formControlName="OTP" placeholder="OTP*" style="height: 40px;"
        minlength="4" size="5" maxlength="4"
        required
        [ngClass]="{'is-invalid':LoginForm.get('OTP').touched && LoginForm.get('OTP').invalid}" />
        <div *ngIf="LoginForm.get('OTP').touched && LoginForm.get('OTP').invalid" class="invalid-feedback">
          <div *ngIf="LoginForm.get('OTP').errors.required" style="color: red;">
            OTP is required
          </div>
          <div *ngIf="LoginForm.get('OTP').errors.OTP">
            Incorrect OTP 
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" (click)="login()" [disabled]="!LoginForm.valid">
          Login
        </button>
      </div>
    </form>
    <p class="text-center"><a [routerLink]="['/owner-register']">Create an Account</a></p>
  </div>
