<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3><b>Explore Vedikas</b></h3>
                <p>List Your Venue</p>
                <p>Book With Confidence</p>
                <p>Trust & Safety</p>
                <p>Hall Rental Guides</p>
            </div>
            <div class="col-md-3">
                <h3><b>Hall Types</b></h3>
                <p>Ac banquet Halls</p>
                <p>5star Halls</p>
                <p>Mini Halls</p>
                <p>Outdoor Halls</p>
            </div>
            <div class="col-md-6">
                <h3 style="padding-bottom: 12px;"><b>Get special offers from Vedikas</b></h3>
                <form class="form-inline">
                    <div class="form-group  mb-2">
                        <label for="inputemail2" class="sr-only">Email Address</label>
                        <input type="emailaddress" class="form-control" id="inputemail2" placeholder="Email Address" style="height: 50px; width: 420px;">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
                </form>
            </div>
        </div>
        <div class="row" style="padding-top: 50px;">
            <div class="col-md-6">
                <p>© 2020 Vedikas, All rights reserved.</p>
                <p style="color: blue;">Terms and Conditions · Privacy Policy · Do Not Sell My Personal Information</p>
                
            </div>
            <div class="col-md-6">
                <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                <a href="https://www.youtube.com/" class="fa fa-youtube" style="margin-left: 10px;"></a>
                <a href="https://www.twitter.com/" class="fa fa-twitter" style="margin-left: 10px;"></a>
                <a href="https://www.instagram.com/" class="fa fa-instagram" style="margin-left: 10px;"></a>
                
            </div>
        </div>
    </div>
</div>