<nav class="navbar navbar-white bg-white">
  <a class="navbar-brand" href="#">
    <img src="../../../../../assets/Images/ProjectName1.png" alt="Vedikas" style="width: 140px;">
  </a>
</nav>

<section class="main"><br><br><br>
  <div class="card">
    <h2><b>PayU Payment Form</b></h2>
    <form ngNoForm action="https://test.payu.in/_payment" name="payuform" method="POST" target="_blank"
      onsubmit="window.open('about:blank','_blank','width=900,height=500');">
      <div class="form-group">
        <label for="productInfo">Function Hall Name:</label>
        <input type="text" class="form-control" id="productInfo" name="productinfo" [(ngModel)]="payuform.name" readonly>
      </div>
      <div class="form-group">
        <label for="firstname">Name:</label>
        <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="payuform.ownerFirstName" readonly>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="payuform.email">
      </div>
      <div class="form-group">
        <label for="email">Phone:</label>
        <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="payuform.phone">
      </div>
      <div class="form-group">
        <label for="amount">Amount:</label>
        <input type="text" class="form-control" id="amount" name="amount" [(ngModel)]="payuform.grandTotal" readonly>
      </div>
      <textarea name="surl" id="surl" ng-model="surl" rows="2" cols="2" hidden [(ngModel)]="payuform.surl"></textarea>
      <textarea name="furl" id="furl" ng-model="furl" rows="2" cols="2" hidden [(ngModel)]="payuform.furl"></textarea>
      <textarea name="key" id="key" ng-model="key" rows="2" cols="2" hidden [(ngModel)]="payuform.key"></textarea>
      <textarea name="hash" id="hash" ng-model="hash" rows="2" cols="2" hidden [(ngModel)]="payuform.hash"></textarea>
      <textarea name="txnid" id="txnid" ng-model="txnid" rows="2" cols="2" hidden
        [(ngModel)]="payuform.txnid"></textarea>
      <textarea name="service_provider" id="service_provider" rows="2" cols="2" hidden></textarea>
      <button *ngIf="disablePaymentButton" type="button" class="btn btn-default"
        (click)="confirmPayment()">Confirm</button>
      <button *ngIf="!disablePaymentButton" type="submit" class="btn btn-danger">Submit</button>
    </form>
  </div>
</section>