.main{
  background-color:  rgb(248, 249, 250);
  height: 90vh;
}

/* .nav-item,a:hover{
 
} */

.card{
  background-color: #ffffff;
  border: 1px solid rgba(0, 34, 51, 0.1);
  box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05), 2px 4px 10px 0 rgba(0, 34, 51, 0.05);
  border-radius: 0.15rem;
  width: 350px;
  height: 100px;
}

a:link {
  color: black;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  width: 350px;
  height: 100px;
  background-color: #8c8484;
}

.title {
  margin-left: 18px;
}

.sub-title {
  margin-left: 18px;
}
