/* Navbar */
.main{
    position: relative;
    background-color: rgb(248, 249, 250);
    min-height: 90vh;
    background-size: cover;
    background-position: center;
}

/* =================Login component==================== */
.login-form {
    padding-top: 130px;
    width: 340px;
    margin: 0 auto; 
    float: none;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    font-family: Lato,Noto Sans JP,Noto Sans KR,Lucida Grande,Segoe UI,Tahoma,-apple-system,Roboto,sans-serif;
}
.login-form h2 {
    margin: 0 0 15px;
    font-family: Lato,Noto Sans JP,Noto Sans KR,Lucida Grande,Segoe UI,Tahoma,-apple-system,Roboto,sans-serif;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 5px;
}
.btn {        
    border-radius: 20px;
    font-family: Lato,Noto Sans JP,Noto Sans KR,Lucida Grande,Segoe UI,Tahoma,-apple-system,Roboto,sans-serif;
}
/* ================================================================================ */