.main{
  background-color:  rgb(248, 249, 250);
  /* height: 90vh; */
}

.card{
  background-color: #ffffff;
  border: 1px solid rgba(0, 34, 51, 0.1);
  box-shadow: 4px 8px 20px 0 rgba(0, 34, 51, 0.05), 4px 8px 20px 0 rgba(0, 34, 51, 0.05);
  border-radius: 0.15rem;
  width: 1100px;
  margin-top: 30px;
  /* height: 300px; */
}

.pagination{
   margin-left: 300px;
}

.btn {
  float: right;
  margin-right: 25px;
  margin-top: 80px;
  border-radius: 10px;
}

h2{
  /* color: blue; */
  margin-left: 43px;
}

